<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Use billy.cx for all of your web url shortening needs</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    <!-- Browser favicon -->
    <link rel="shortcut icon" href="favicon.png">


    <!-- CSS files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.responsive.min.css">

    <!-- Uncomment to include modernizer.js
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
        -->

    <meta name="description" content="" />
    <script type="text/javascript">
    function urlCheck(obj)
    {
        if (!isUrl(document.getElementById("url").value))
        {
            alert("The url in the textbox is not valid.  Please try again.");
            document.getElementById("url").focus();
            return false;
        }
        return true;
    }

    function isUrl(s)
    {
        var regexp = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        return regexp.test(s);
    }

    window.onload = function()
    {
        document.getElementById("url").focus();
    };
    </script>

</head>

<body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>



    <!-- JavaScript libraries -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/bootstrap.js"></script>
    <!-- Javascripts -->
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>



</body>

</html>